@import "tailwindcss";

@font-face {
    font-family: 'Firlest';
    src: url('/fonts/Firlest-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @theme {
    --font-firlest: "Firlest"; 
  }